body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 40px;
    background: #f9f9f9;
}
h2{
    color: black;


}

form {
    margin-bottom: 20px;
    padding: 15px;
    background: white;
    border:1px solid ;
    width:300px;

}

form input[type ="text"],form input[type ="submit"]
{
    margin: 5px 0;
    padding: 8px;
    width:95%;

}
 table {
    border-collapse:collapse ;
    width: 80%;
    background: white;

 }

 table,th,td{
            border: 1px solid #ddd;
            padding: 8px;
        }

th{
      background: #e0d3d3;
}
td {
    text-align: center;
     }
a {
 text-decoration: none;
color: blue;
}
a:hover {
            color: rgb(197, 226, 238);
        }

